<div class="header">
  <ul class="header__nav">
    <li><a [routerLink]="['/module1/cmt11']" [routerLinkActive]="['active']">Module1-Component-1</a></li>
    <li><a [routerLink]="['/module1/cmt12']" [routerLinkActive]="['active']">Module1-Component-2</a></li>
    <li><a [routerLink]="['/module2/cmt21']" [routerLinkActive]="['active']">Module2-Component-1</a></li>
    <li><a [routerLink]="['/module2/cmt22']" [routerLinkActive]="['active']">Module2-Component-2</a></li>
    <li><a [routerLink]="['/module3/cmt31']" [routerLinkActive]="['active']">Module3-Component-1</a></li>
    <li><a [routerLink]="['/module3/cmt32']" [routerLinkActive]="['active']">Module3-Component-2</a></li>
  </ul>
</div>
